html{
	height: 100%;
}
body{
	background: #ffffff;
	height: 100%;
	display: flex;
	margin: 0px;
}
.left-side{
	font-family: 'Coiny', cursive;
	width: 25%;
	height: 100%;
	background: #ffffff;
	border: 1px solid black;
}
.rigth-side-content{
	width: 100%;
	height: 80%;
	background: #ffffff;
	display: flex;
}
.rigth-side{
	background: #0747a6;
	width: 75%;
}
.rigth-side .header{
	background: #0747a6;
	height: 20%;
}
.border-body{
	border: 1px solid black !important;
}
.title{
	height: 338px;
	display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
	font-family: 'Lora', serif;
	background: url(../img/log2.png) no-repeat;
	background-size: 450px 300px;
}
.logo{
	height: 200px;
}
.logo-img{
	justify-content: center;
}
.left-side li{
    font-size: 30px;
    height: 25px;
    padding-bottom: 36px;
}
.left-side ul{
	list-style-type: none;
}
.mensajero{
	height: 50px;
    width: 92%;
    min-width: 60%;
    background: black;
    border: 1px solid #fff;
    margin: 10px;
}
.lane{
	border: solid 1px black;
	width: 34%;
	height: 100%;
}
.lane:hover{
	border: dashed 1px blue;
}
#popUp{
	display: none; 
	background: #ffffff;
	height: 300px;
	width: 200px;
	padding: 5px;
}
#popUpAdd{
	display: none; 
	background: #ffffff;
	height: 300px;
	width: 200px;
	padding: 5px;
}
li:hover{
	font-size: 40px;
	padding-bottom: 50px;
	color: #008564;
}
.lbl{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.header{
	height: 20%;
	background: #ffffff;
}
.header .title-blue{
	font-size: 45px;
	background: none;
	color: #ffffff;
	font-weight: 600;
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
    justify-content: center;
}
.blue-content{
	color: #ffffff;
	margin: 20px;
	font-size: 20px;
}